*{
    box-sizing: border-box;
}
body{
    background-color: brown;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* background-color: goldenrod; */
    padding:10px;
}

a{
    text-decoration: none;
    color: black;
}

.highlight{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background: white;
    border-radius: 20px;
    display: block;
    transition: all .2s;

}